[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "==1.6.1"
seqlog = "==0.3.30"
certifi = "==2023.7.22"
charset-normalizer = "==3.3.2"
idna = "==3.4"
python-dateutil = "==2.8.2"
pyyaml = "==6.0.1"
requests = "==2.31.0"
six = "==1.16.0"
urllib3 = "==2.0.7"

[dev-packages]

[requires]
python_version = "3.11"
